
BlackJack/.vs/BlackJack/v16/Browse.VC.opendb
BlackJack/.vs/BlackJack/v16/.suo
BlackJack/.vs/BlackJack/v16/Browse.VC.db
BlackJack/.vs/BlackJack/v16/Browse.VC.db-shm
BlackJack/.vs/BlackJack/v16/Browse.VC.db-wal
BlackJack/.vs/BlackJack/v16/ipch/AutoPCH/3da6dc6169e85458/BLACKJACK.ipch
BlackJack/.vs/BlackJack/v16/ipch/AutoPCH/62ba0a94181edd3a/MAIN.ipch
BlackJack/.vs/BlackJack/v16/ipch/AutoPCH/65601f6e07e8d936/TEST.ipch
BlackJack/.vs/BlackJack/v16/ipch/AutoPCH/ad293fba4da7a563/MAIN.ipch
BlackJack/.vs/ProjectSettings.json
BlackJack/.vs/slnx.sqlite
BlackJack/BlackJack.cpp
BlackJack/BlackJack.sln
BlackJack/BlackJack.vcxproj
BlackJack/BlackJack.vcxproj.filters
BlackJack/BlackJack.vcxproj.user
BlackJack/Debug/BlackJack.exe
BlackJack/Debug/BlackJack.exe.recipe
BlackJack/Debug/BlackJack.ilk
BlackJack/Debug/BlackJack.log
BlackJack/Debug/BlackJack.pdb
BlackJack/Debug/BlackJack.tlog/BlackJack.lastbuildstate
BlackJack/Debug/BlackJack.tlog/CL.command.1.tlog
BlackJack/Debug/BlackJack.tlog/CL.read.1.tlog
BlackJack/Debug/BlackJack.tlog/CL.write.1.tlog
BlackJack/Debug/BlackJack.tlog/link.command.1.tlog
BlackJack/Debug/BlackJack.tlog/link.read.1.tlog
BlackJack/Debug/BlackJack.tlog/link.write.1.tlog
BlackJack/Debug/BlackJack.vcxproj.FileListAbsolute.txt
BlackJack/Debug/main.obj
BlackJack/Debug/test.obj
BlackJack/Debug/vc142.idb
BlackJack/Debug/vc142.pdb
BlackJack/test.c
